# Python
__pycache__/
*.pyc

# Environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Results
results/
logs/

# Data
data/

# LaTeX temporary files
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz